
*.pdb
*.dll
*.exe
*.cache
*.txt
*.json
*.sln
*.props
*.targets
*.editorconfig
*.v2
classExercises/.vs/classExercises/v16/.suo
*.csproj
*.editorconfig
arrays/arrays/.vs/arrays/v16/.suo
*.cache
*.cache
*.editorconfig
